<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>订单管理</string>
		<key>image</key>
		<string>icon_order_menu</string>
	</dict>
	<dict>
		<key>title</key>
		<string>报表统计</string>
		<key>image</key>
		<string>icon_table_menu</string>
	</dict>
	<dict>
		<key>title</key>
		<string>商品信息</string>
		<key>image</key>
		<string>icon_goods_menu</string>
	</dict>
	<dict>
		<key>title</key>
		<string>商家设置</string>
		<key>image</key>
		<string>icon_setting_menu</string>
	</dict>
</array>
</plist>
