<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>辅导</string>
		<key>image</key>
		<string>icon_home_fudao</string>
		<key>controller</key>
		<string>TAFuDaoVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>舞蹈</string>
		<key>image</key>
		<string>icon_home_wudao</string>
		<key>controller</key>
		<string>TAWuDaoVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>书画</string>
		<key>image</key>
		<string>icon_home_shuhua</string>
		<key>controller</key>
		<string>TAShuHuaVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>体育</string>
		<key>image</key>
		<string>icon_home_tiyu</string>
		<key>controller</key>
		<string>TATiYuVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>音乐</string>
		<key>image</key>
		<string>icon_home_music</string>
		<key>controller</key>
		<string>TAMusicVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>留学</string>
		<key>image</key>
		<string>icon_home_liuxue</string>
		<key>controller</key>
		<string>TALiuXueVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>早教</string>
		<key>image</key>
		<string>icon_home_zaojiao</string>
		<key>controller</key>
		<string>TAZaoJiaoVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>其他</string>
		<key>image</key>
		<string>icon_home_other</string>
		<key>controller</key>
		<string>TAOtherVC</string>
	</dict>
</array>
</plist>
